<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>index</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>All Existing Patients</h1>
    <div class="container1">
      <button class="center">
        <a href="/patients/new">Add a New Patient</a>
      </button>

      <ol>
        <% for(let i = 0; i < patient.length; i++) { %>
        <li>
          Last_Name:
          <a href="/patients/<%=patient[i]._id %>"
            ><%=patient[i].last_name.charAt(0).toUpperCase()
            +patient[i].last_name.slice(1)%></a
          >

          <!-- <p>FIRST_NAME: <%=patient[i].first_name; %></p>
      <p>INSURANCE: <%=patient[i].insurance; %></p> -->
        </li>
        <% } %>
      </ol>
    </div>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
