<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="/main.css" /> -->
    <title>index</title>
  </head>
  <body>
    <button class="center">
      <a href="/patients/new">Add a New Patient</a>
    </button>
    <h1>All patients</h1>

    <div class="container">
      <ol>
        <% for(let i = 0; i < patient.length; i++) { %>
        <li>
          LAST_NAME:<a href="/patients/<%=patient[i]._id %>"
            ><%=patient[i].last_name%></a
          >

          <!-- <p>FIRST_NAME: <%=patient[i].first_name; %></p>
      <p>INSURANCE: <%=patient[i].insurance; %></p> -->
        </li>
        <% } %>
      </ol>
    </div>
  </body>
</html>
