<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Log In</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <div class="container">
      <h1>
        Welcome to Urgent Care
      </h1>
      <div class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a href="/sessions/new">Log In</a>
        <a href="/users/new">Register</a>
      </div>
      <img src="/images/portal1.jpg" class="figure-img img-fluid rounded" />

      <% if(currentUser) { %> <% } %>
    </div>
  </body>
</html>
