<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>REGISTRATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- STYLES -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- ============= CONTAINER ============== -->
    <div class="container">
      <!-- sidebar -->
      <!-- <div class="sidebar"></div> -->
      <!-- registration container -->
      <h1>Patient Registration Form</h1>
      <!-- <div class="registration"> -->
        <!-- START FORM -->
        <form action="/patients" method="POST">
          <!-- fieldset for account info -->
          <fieldset class="account-info">
            <!-- legend for account info -->
            <legend>PATIENT INFORMATION</legend>
            <!-- username -->
            <label for="last_name">LAST_NAME</label>
            <input type="text" name="last_name" id="last_name" />
            <label for="first_name">FIRST_NAME</label>
            <input type="text" name="first_name" id="first_name" />
            <label for="address">ADDRESS</label>
            <input type="text" name="address" id="address" />
            <label for="d_o_b">D.O.B.</label>
            <input type="date" name="d_o_b" id="d_o_b" />
            <label for="contact">CONTACT</label>
            <input type="number" name="contact" id="contact" />
            <label for="email">E-MAIL</label>
            <input type="email" name="email" id="email" />
            <label for="check_insurance">CHECK_INSURANCE</label>
            <input
              type="checkbox"
              name="check_insurance"
              id="check_insurance"
            />

            <label id="insuranceLabel" for="insurance" class="form-control form-control-lg" class="hideInsurance"
              >INSURANCE</label
            >
            <!-- <input type="text" name="insurance" id="insurance" /> -->
            <select name="insurance" id="insurance" class="hideInsurance">
              <!-- <optgroup label="Select One"> -->
                <option value="Atena">Atena</option>
                <option value="Signa">Signa</option>
                <option value="UnitedWay">United Way</option>
                <option value="ObamaCare">Obama Care</option>
              </optgroup>
            </select>

            <label for="co_pay">Co-Pay</label>
            <input type="number" name="co_pay" id="co_pay" value="100" />
          </fieldset>
          <legend>REASON TO VISIT</legend>
      <!-- biography -->
      <label for="symptoms">SYMPTOMS</label> 
       
        <input name="symptoms" type="text" id="symptoms"/>
        <label for="medicine">Medicine</label>
          <input type="medicine" name="medicine" id="medicine" />
        </fieldset>
          <!-- fieldset for profile info --> 
          <fieldset class="profile-info">
          <!-- legend for profile info -->
          <!-- textarea for larger bodies of text -->
          <!-- <!-- submit button -->
          <input  type="submit" value="New Patient Added" />
          <button class="center">
            <a href="/patients">Go to Main Page</a>
          </button>
        </form>
      
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/js/app.js"></script>
  </body>
</html>
