<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <div class="container">
      <h1>Register</h1>
      <div class="registration">
        <form action="/users" method="POST">
          <input type="text" name="username" placeholder="username" />
          <input type="password" name="password" placeholder="password" />
          <input type="submit" class="btn btn-primary" value="Log In" />
        </form>
        <img src="/images/portal1.jpg" class="figure-img img-fluid rounded" />
      </div>
    </div>
  </body>
</html>
